<%
filter = Net::LDAP::Filter.eq( "objectClass", "device" )
results = LDAP.search( :filter => filter )
%>

<h1>Computers</h1>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addComputerModal">Add Computer</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <td>GUID</td>
        </tr>
      </thead>
      <tbody>
        <%results.each do |row|%>
          <tr>
            <td>
              <%=row[:cn][0]%>
            </td>
            <td>
              <%=row[:serialNumber][0]%>
            </td>
          </tr>
        <%
        end
        %>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addComputerModal" tabindex="-1" role="dialog" aria-labelledby="addComputerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addComputerModalLabel">Add Computer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="newDeviceForm">
        <div class="modal-body">
            <p id="response">
            </p>
            <div class="form-group">
              <label for="computerName">Computer Name</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" class="form-control" id="computerName" name="computerName" aria-describedby="nameHelp" placeholder="Enter computer name">
                <div class="input-group-addon">.danbishop.org</div>
              </div>
              <small id="nameHelp" class="form-text text-muted">This must be unique and contain only letters, numbers and hyphens.</small>
            </div>
            <div class="form-group">
              <label for="guid">GUID</label>
              <input type="text" class="form-control" name="guid" id="guid" placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Computer</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% content_for :script_footer do %>
<script>
$(function() {
  $("#newDeviceForm").submit(function(event){
    $("#response").html('');
    $.ajax({
      type: "POST",
      url: "#",
      data: $('#newDeviceForm').serialize(),
      success: function(msg){
        location.reload();
      },
      error: function(jqxhr){
        $("#response").html(jqxhr.responseText)
      }
    });
    event.preventDefault();
  });
});
</script>
<% end %>
