<%
filter = Net::LDAP::Filter.eq( "objectClass", "posixGroup" )
results = LDAP.search( :filter => filter )
%>

<h1>Groups</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">GID</th>
      <td>Group</td>
    </tr>
  </thead>
  <tbody>
    <%results.each do |row|%>
      <tr>
        <td>
          <%=row[:gidNumber][0]%>
        </td>
        <td>
          <%=row[:cn][0]%>
        </td>
      </tr>
    <%
    end
    %>
  </tbody>
</table>
