<!-- Modal -->
<div class="modal fade" id="<%=modal%>Modal" tabindex="-1" role="dialog" aria-labelledby="<%=modal%>ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=modal%>ModalLabel"><%=title%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% %>
    </div>
  </div>
</div>
