<%
filter = Net::LDAP::Filter.eq( "objectClass", "posixAccount" )
results = LDAP.search( :filter => filter )
%>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">UID</th>
      <td>Username</td>
      <td>Home</td>
    </tr>
  </thead>
  <tbody>
    <%results.each do |row|%>
      <tr>
        <td>
          <%=row[:uidnumber][0]%>
        </td>
        <td>
          <%=row[:uid][0]%>
        </td>
        <td>
          <%=row[:homedirectory][0]%>
        </td>
      </tr>
    <%
    end
    %>
  </tbody>
</table>
